/* Import de la font Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Rénitialisation des marges et des espacements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

/* Navbar */
nav {
  position: fixed; /* Fixe la navbar en haut de la page */
  top: 0; /* Positionner la navbar en haut */
  left: 0;
  width: 100%; /* S'assurer qu'elle s'étend sur toute la largeur */
  height: 61px;
  background-color: #22577A;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px; 
  color: white;
  z-index: 1000; /* S'assurer qu'elle est au-dessus des autres éléments */
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 0 15px; 
}

nav li a:hover {
  color: #80edd9;
}

nav a {
  color: white;
}

nav li a {
  text-decoration: none; 
  font-weight: normal;
  font-size: 1rem;
}

nav img {
  height: 40px;
}

nav button {
  background-color: transparent;
  border: white solid 1px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

nav button a {
  text-decoration: none;
}

nav button:hover {
  background-color: white; /* Couleur de fond au survol */
  color: #22577A; /* Couleur du texte */
  transition: 0.1s;
}

nav button:hover a {
  color: #22577A; /* Change la couleur du lien à l'intérieur */
  transition: 0.1s;
}
/* navbar fin */

/* Header */
header{
  background: no-repeat center/100% url(images/fond-twini_Page_1.jpg);
  height: 35rem;
}

header section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: solid 1px red; */
  height: 35rem;
  width: 100%;
}

header h2{
  color: white
}

.button{
  margin-top: 1rem;
}

/* actualités */
.news{
  background: no-repeat center/100% url(images/fond-twini_Page_2.jpg);
  height: 38rem;
  color: #22577A;
}

.news h2{
  color:  white;
  text-align: center;
  font-size: 50px;
  padding-block: 2rem;
}

.news div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

article {
  border: solid 1.5px #C2D1D9;
  background-color: white;
  border-radius: 2px;
  width: 16.6rem;
  height: 29rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}

article:hover {
  transform: scale(1.05); /* Agrandissement léger */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Ombre douce */
  border-color: #22577A; /* Changement de couleur de bordure au survol */
}


article img{
  border-radius: 2px;
}

article figcaption{
  margin: 10px 10px 0px;
}

.description{
  /* border: solid 1px hotpink; */
  display: flex;
  flex-direction: column;
  align-items: inherit !important;
}

h3{
  margin: 10px;
}

.description p{
  margin-inline: 10px;
  font-size: 17px;
}
/* actualités fin */




/* Section A propos de nous */
.about{
  /* display: flex; */
  padding: 0 2rem;
  color: #22577A;
}

.about h2{
  font-size: 3.5rem;
  margin-top: 1rem 0;
}

.containerCeo{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 1px turquoise; */
  padding: 2rem 0;
}

.ceoLeft{
  /* border: solid 1px pink; */
  width: 50%;

}

.ceo{
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* width: 50%; */
}

.ceo img{
  border-radius: 100%;
  width: 7.5rem;
}

.ceo figcaption{
  text-align: center;
}


.ceoText p{
  padding: 0 2rem;
}

.schema figcaption{
  text-align: center;
  font-weight: bold;
}
