/* Import de la font Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Rénitialisation des marges et des espacements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

/* Navbar */
nav {
  position: fixed; /* Fixe la navbar en haut de la page */
  top: 0; /* Positionner la navbar en haut */
  left: 0;
  width: 100%; /* S'assurer qu'elle s'étend sur toute la largeur */
  height: 61px;
  background-color: #22577A;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px; 
  color: white;
  z-index: 1000; /* S'assurer qu'elle est au-dessus des autres éléments */
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 0 15px; 
}

nav li a:hover {
  color: #80edd9;
}

nav a {
  color: white;
}

nav li a {
  text-decoration: none; 
  font-weight: normal;
  font-size: 1rem;
}

nav img {
  height: 40px;
}

nav button {
  background-color: transparent;
  border: white solid 1px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

nav button a {
  text-decoration: none;
}

nav button:hover {
  background-color: white; /* Couleur de fond au survol */
  color: #22577A; /* Couleur du texte */
  transition: 0.1s;
}

nav button:hover a {
  color: #22577A; /* Change la couleur du lien à l'intérieur */
  transition: 0.1s;
}
/* navbar fin */

/* Header */
header{
  background: no-repeat center/100% url(images/fond-twini_Page_1.jpg);
  height: 35rem;
}

header section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: solid 1px red; */
  height: 35rem;
  width: 100%;
}

header h2{
  color: white
}

.button{
  margin-top: 1rem;
}

/* actualités */
.news{
  background: no-repeat center/100% url(images/fond-twini_Page_2.jpg);
  height: 38rem;
  color: #22577A;
}

.news h2{
  color:  white;
  text-align: center;
  font-size: 50px;
  padding-block: 2rem;
}

.news div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

article {
  border: solid 1.5px #C2D1D9;
  background-color: white;
  border-radius: 2px;
  width: 16.6rem;
  height: 29rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}

article:hover {
  transform: scale(1.05); /* Agrandissement léger */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Ombre douce */
  border-color: #22577A; /* Changement de couleur de bordure au survol */
}


article img{
  border-radius: 2px;
}

article figcaption{
  margin: 10px 10px 0px;
}

.description{
  /* border: solid 1px hotpink; */
  display: flex;
  flex-direction: column;
  align-items: inherit !important;
}

h3{
  margin: 10px;
}

.description p{
  margin-inline: 10px;
  font-size: 17px;
}
/* actualités fin */




/* Section A propos de nous */
.about{
  /* display: flex; */
  padding: 0 2rem;
  color: #22577A;
}

.about h2{
  font-size: 3.5rem;
  margin-top: 1rem 0;
}

.containerCeo{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 1px turquoise; */
  padding: 2rem 0;
}

.ceoLeft{
  /* border: solid 1px pink; */
  width: 50%;

}

.ceo{
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* width: 50%; */
}

.ceo img{
  border-radius: 100%;
  width: 7.5rem;
}

.ceo figcaption{
  text-align: center;
}


.ceoText p{
  padding: 0 2rem;
}

.schema figcaption{
  text-align: center;
  font-weight: bold;
}

/* SERVICES */
.services {
  height: 150vh;
  width: 100%;
  background-color: #E9F8F1;

  /* force la section a avoir les margin et padding des enfants */
  overflow: hidden;
}

.services h2 {
  font-size: 32px;
  color: #2D5E7F;
  text-align: center;
  margin: 65px 0px 65px 0px;
}

.services h3 {
  font-size: 18px;
  color: #2D5E7F;
}

#h3-blue {
  color: #03045E;
}

#h3-green {
  color: #22577a;
}

/* Les deux colonnes sont sur la même ligne */
.services-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Colonnes */
.services-container-column {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

/* Bouton */
.services .button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.services #button-blue {
  background-color: #00B4D8;
}

.services #button-blue:hover {
  background-color: white;
  color: #00B4D8;
}

.services #button-green {
  background-color: #57CC99;
}

.services #button-green:hover {
  background-color: white;
  color: #57CC99;
}

/* Conteneur circulaire */
.circle-container {
  position: relative;
  width: 600px;
  height: 600px;
  /* border: 2px dashed #ccc; */
  border-radius: 50%;
  margin: auto;
}

.circle {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  /* background-color: #3498db; */
  color: white;
  transform: translate(-50%, -50%);
  transition: background-color 2s ease, height 2s ease, width 2s ease;

  /* textes centrés dans la div */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Couleurs des cercles */
#circle-one {
  background-color: #03045E;
}

#circle-two {
  background-color: #023E8A;
}

#circle-three {
  background-color: #0077B6;
}

#circle-four {
  background-color: #0096C7;
}

#circle-five {
  background-color: #00B4D8;
}

#circle-six {
  background-color: #22577a;
}

#circle-seven {
  background-color: #2D7D90;
}

#circle-eight {
  background-color: #38A3A5;
}

#circle-nine {
  background-color: #48B89F;
}

#circle-ten {
  background-color: #57CC99;
}


/* Effet d'agrandissement sur les petits cercles */
.circle:hover {
  height: 200px;
  width: 200px;
  background-color: #2980b9;
  cursor: pointer;
}

.arrow {
  position: absolute;
  background-image: url(/services-img/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
}

/* Disposition circulaire avec transform */
.circle:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg) translate(200px) rotate(-0deg);
}

.arrow:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(36deg) translate(250px) rotate(130deg);
}

.circle:nth-child(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(72deg) translate(200px) rotate(-72deg);
}

.arrow:nth-child(4) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(108deg) translate(250px) rotate(130deg);
}

.circle:nth-child(5) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(144deg) translate(200px) rotate(-144deg);
}

.arrow:nth-child(6) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg) translate(250px) rotate(130deg);
}

.circle:nth-child(7) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(216deg) translate(200px) rotate(-216deg);
}

.arrow:nth-child(8) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(252deg) translate(250px) rotate(130deg);
}

.circle:nth-child(9) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(288deg) translate(200px) rotate(-288deg);
}

.arrow:nth-child(10) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(324deg) translate(250px) rotate(130deg);
}

/* Tooltip cercles*/
.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  background-color: white;
  /* background-color: black; */
  /* opacity: .5; */
  color: #00B4D8;
  text-align: center;

  /* positionnement du tooltip */
  position: absolute;
  z-index: 2;

  /* textes centrés dans la div */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}


/* SERVICES RESPONSIVE */


/* section principale */
.testimonial {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* style de titre de ce section */
h1 {
  padding: 80px 0 0 30px;
  font-size: 50px;
  color: #22577A;
  width: 100%;
}

/* Carousel Styles */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  overflow: hidden;
  /* Cache les éléments qui dépassent de la zone visible */
  position: relative;
  /* Pour faciliter le positionnement des éléments enfants */
}

/* Style le contenu de chaque item ou slide */
.carousel-item {
  width: 80%;
  height: 30%;
  text-align: left;
  position: absolute;
  /* Permet de positionner les éléments au-dessus les uns des autres */
  top: 20px;
  opacity: 0;
  /* Rendre les éléments invisibles par défaut */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  /* Animation fluide pour la position et la visibilité */
  transform: translateX(100%);
  /* Par défaut, l'élément est en dehors de l'écran à droite */
}

.carousel-item.active {
  opacity: 1;
  /* Seulement l'élément actif sera visible */
  transform: translateX(0);
  /* L'élément actif est au centre */
}

/* animation slide */
.carousel-item.exit-left {
  transform: translateX(100%);
  /* Sort par la droite */
  opacity: 0;
}

/* animation slide */
.carousel-item.exit-right {
  transform: translateX(-100%);
  /* Sort par la gauche */
  opacity: 0;
}

.container-comment {
  display: flex;
  align-items: center;
  gap: 30px;
  /* espace entre l'image et le bloc de commentaire */
}

/* style image */
.perso-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 50px;

}

.comment-para p {
  color: #22577A;
  font-size: 16px;
}

.comment-para h5,
.comment-para h6 {
  color: #22577A;
}
.right-guillemet{
margin-left: 550px;
}

button {
  background-color: #57CC99;
  
  border: 1px solid #57CC99;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s;
  display: block;
  margin-left: auto;
  margin-top: 30px;
}
button:hover{
  background-color: transparent;
}
button a{
  color: white;
  transition: color 0.2s;
}
/* animation bouton */
button a:hover {
  color: #57CC99;
}

/* positionement des fleches */
.carousel-controls {
  position: absolute;
  top: 85%;
  left: 80%;

}

/* style control */
.control {
  font-size: 24px;
  cursor: pointer;
  color: #22577a98;
  padding: 20px;
  border-radius: 50%;
  user-select: none;
  transition: color 0.3s;
}

.control:hover {
  color: #22577A;
}
.projet-cache{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 600px;
  background-color: #22577A;
}
.projet-cache h1, .projet-cache p, .projet-cache i{
  color: white;
  padding-bottom: 20px;
}
.projet-cache img{
  width: 450px;
  height: 350px;
}
#description{
  display: flex;
  flex-direction: column;
  width: 40%;
}
